<li class="collection-list">
    <div class="collection-title">
        {{title}}
    </div>
    <div class="collection-icon">
        <i class="fa fa-commenting-o"></i>
        <span class="collection-reply">
                        {{reply}}
                    </span>
        <i class="fa fa-heart-o"></i>
        <span class="collection-like">
                        {{like}}
                    </span>
    </div>
    <div class="collection-img">
        <img src="{{img}}">
        <div class="collection-count">
            {{count}}
        </div>
    </div>
</li>