<li>
    <div class="list">
        <div class="list-img">
            <img class="list-title-img" src="{{img}}">
            {{~#if time}}
            <img class="badge-time" src="./img/badge-time.png">
            {{/if}}
            {{~#if kakao~}}
            <img class="badge-kakaotoon" src="./img/badge-kakaotoon.png">
            {{~/if~}}
            {{~#if daum~}}
            <img class="badge-daumtoon" src="./img/badge-daumtoon.png">
            {{~/if~}}
        </div>
        <ul class="list-text">
            <li class="list-title">
                {{#each badge}}
                <img class="badge-{{this}}" src="./img/badge-{{this}}.png">
                {{/each}}
                {{title}}
            </li>
            <li class="list-summary">
                {{summary}}
            </li>
            <li class="list-info">
                {{views}}만 · {{writer}}
            </li>
        </ul>
    </div>
</li>